@charset "UTF-8";
:root {
  /* text colors */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --link-text-color: #2196F3;
  --hero-text-color: #FFFFFF;
  --logo-text-color: #000000;
  --icon-color: #AFB1B8;
  /* text fonts */
  --primary-text-font: "Roboto", sans-serif;
  --secondary-text-font: "Raleway", sans-seri;
  /* bg color */
  --primary-bg: #FFFFFF;
  --secondary-bg: #2F303A;
  --btn-active-bg: #188CE8;
  --team-section-bg: #F5F4FA;
  /* animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-text-font);
  font-style: normal;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primary-bg);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: var(--secondary-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
  margin-right: 93px;
}
.logo-part {
  color: var(--link-text-color);
}
.logo.below {
  color: var(--hero-text-color);
  display: block;
  margin-bottom: 20px;
}

.nav {
  margin-right: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header-item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  position: relative;
  display: block;
  padding: 32px 0;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.navigation:hover, .navigation:focus {
  color: var(--link-text-color);
}
.navigation.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-text-color);
  position: absolute;
  bottom: 0;
}

.current {
  color: var(--link-text-color);
}

.contact-header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.contact:hover, .contact:focus {
  color: var(--link-text-color);
}

.contact-header-item:not(:last-child) {
  margin-right: 50px;
}

.contact-header-icon {
  fill: currentColor;
}

.footer-adress-container {
  margin-right: 70px;
}

.contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg);
}

.contact-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.location {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--hero-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.location:hover, .location:focus {
  color: var(--link-text-color);
}

.contact-below {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-below:hover, .contact-below:focus {
  color: var(--link-text-color);
}

.hero {
  background-color: var(--secondary-bg);
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--link-text-color);
  cursor: pointer;
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: var(--btn-active-bg);
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__item {
  width: 270px;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.benefits__icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--team-section-bg);
  margin-bottom: 30px;
}

.services-section {
  padding-top: 0;
  padding-bottom: 94px;
}
.services-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.services-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.services-section__item {
  position: relative;
}
.services-section__overlay-text {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.team-section {
  background-color: var(--team-section-bg);
}
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team-list .team-item {
  background-color: var(--primary-bg);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team-wrapper {
  padding: 30px 0;
}
.team-wrapper .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.team-wrapper .position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-color);
  border-radius: 50%;
  -webkit-transition: color var(--animation), background-color var(--animation);
  transition: color var(--animation), background-color var(--animation);
}
.social-link:hover, .social-link:focus {
  color: var(--primary-bg);
  background-color: var(--link-text-color);
}
.social-link .social-icon {
  fill: currentColor;
}

.footer-social-container {
  margin-right: auto;
}
.footer-social-title {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--hero-text-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--link-text-color);
}
.footer-social-icon {
  fill: currentColor;
}

.clients-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.clients-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.clients-section__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  -webkit-transition: border-color var(--animation), color var(--animation);
  transition: border-color var(--animation), color var(--animation);
}
.clients-section__link:hover, .clients-section__link:focus {
  border-color: var(--link-text-color);
  color: var(--link-text-color);
}
.clients-section__icon {
  fill: currentColor;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer-form-tittle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-text-color);
  display: block;
  margin-bottom: 20px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--hero-text-color);
}
.footer-form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--link-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  padding: 0;
}
.footer-form-btn__tittle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
}
.footer-form-btn__icon {
  fill: var(--primary-bg);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), -webkit-transform var(--animation);
  transition: opacity var(--animation), transform var(--animation);
  transition: opacity var(--animation), transform var(--animation), -webkit-transform var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.modal {
  position: absolute;
  /*Позиціонування модалки посередині бекдропа в позиції Абсолют */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: var(--hero-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.close-mdl-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: var(--animation);
  transition: var(--animation);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.close-mdl-btn:focus, .close-mdl-btn:hover {
  fill: var(--link-text-color);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.modal-form {
  padding: 40px;
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}
.form-group textarea {
  margin-bottom: 20px;
}

.modal-form-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-form-label input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}
.modal-form-label textarea {
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}
.modal-form-label textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-label textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-label textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-label textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-label textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal-form-label:focus-within input, .modal-form-label:focus-within textarea {
  border: 1px solid var(--link-text-color);
}
.modal-form-label:focus-within .modal-input-icon {
  fill: var(--link-text-color);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}

.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  gap: 7px;
}
.form-agreement-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.form-agreement-link {
  font-weight: 400;
  line-height: 1.71;
  color: var(--link-text-color);
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' /%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-size: 0;
  border: 2px solid var(--primary-text-color);
  -webkit-transition-property: background-size, background-color;
  transition-property: background-size, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: transparent;
  background-color: var(--link-text-color);
}

.progects-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-section-bg);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, border-radius, -webkit-box-shadow;
  transition-property: color, background-color, border-radius, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-property: color, background-color, box-shadow, border-radius, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--hero-text-color);
  background-color: var(--link-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.progect-cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.progect-item {
  width: 370px;
}

.progect-link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.progect-link:hover, .progect-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.progect-thumb {
  position: relative;
  overflow: hidden;
}

.progect-overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.progect-link:hover .progect-overlay-box, .progect-link:focus .progect-overlay-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.progect-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--hero-text-color);
  padding: 63px 24px;
}

.progect-wrapper {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */