.contact-header-list {
       display: none;
    
    @media screen and (min-width: $tablet) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            gap: 10px;
            
        }
    @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: row;
        }
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--secondary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
    transition: color var(--animation);

    @media screen and (min-width: $desktop) {
            padding: 32px 0;
        }

    &:hover,
    &:focus {
            color: var(--link-text-color);
        }
}

.contact-header-item:not(:last-child) {
    margin-right: 50px;

    @media screen and (min-width: $tablet) {
            margin: 0;
    }
    @media screen and (min-width: $desktop) {
            margin-right: 50px;
        }
    
}

.contact-header-icon {
    fill: currentColor;
}
// FOOTER 

.contacts {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-bg);
}
.footer-adress-container {
    text-align: center;
   
    @media screen and (min-width: $tablet) {
            text-align: center;
            margin: 0 165px 60px 76px;
        }
    
    @media screen and (min-width: $desktop) {
            margin: 0;
            margin-right: 70px;
            text-align: left;
        }
}
.contacts-wrapper {
    margin-top: 20px;
}
.contact-footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.location {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--hero-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
                color: var(--link-text-color);
            }
}
.contact-below {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
        font-weight: 400;
        line-height: 1.71;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
                color: var(--link-text-color);
            }
}