.hero {
    background-color: var(--secondary-bg);
    text-align: center;
    padding: 200px 0;

    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    &-title {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: var(--hero-text-color);
    
            width: 696px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
        }
    &-btn {
            font-family: inherit;
            font-style: inherit;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--hero-text-color);
            background-color: var(--link-text-color);
            cursor: pointer;
    
            min-width: 216px;
            border-radius: 4px;
            padding: 10px 32px;
            border: none;
    
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
            transition: background-color var(--animation);
    
            &:hover,
            &:focus {
                background-color: var(--btn-active-bg);
            }
        }
}




