.logo {
    font-family: var(--secondary-text-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-text-color);

    margin-right: 93px;

    &-part {
        color: var(--link-text-color);
    }
 &.below {
            color: var(--hero-text-color);
    
            display: block;
            margin-bottom: 20px;
        }
}
