body {
    font-family: var(--primary-text-font);
    font-style: normal;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg);
    letter-spacing: 0.03em;
}